<nav class="navigation-container">
  <div class="logo">
    <img src="assets/favicon.png" alt="iConnect Logo" class="logo-img" />
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/feeds" 
         routerLinkActive="active" 
         [class.active]="activeItem === 'feeds' || activeItem === 'home'" 
         (click)="setActive('feeds')">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      </a>
    </li>

    <li>
      <a routerLink="/search" 
         routerLinkActive="active" 
         [class.active]="activeItem === 'search'" 
         (click)="setActive('search')">
        <i class="fa-solid fa-search"></i>
        <span>Search</span>
      </a>
    </li>

    <li>
      <a routerLink="/create" 
         routerLinkActive="active" 
         [class.active]="activeItem === 'create'" 
         (click)="setActive('create')">
        <i class="fa-regular fa-square-plus create-icon"></i>
        <span>Create</span>
      </a>
    </li>

    <li>
      <a routerLink="/messages" 
         routerLinkActive="active" 
         [class.active]="activeItem === 'messages'" 
         (click)="setActive('messages')">
        <i class="fa-regular fa-envelope message-icon"></i>
        <span>Messages</span>
      </a>
    </li>

    <li>
      <a routerLink="/about" 
         routerLinkActive="active" 
         [class.active]="activeItem === 'about'" 
         (click)="setActive('about')">
        <i class="fa-solid fa-circle-info about-icon"></i>
        <span>About Us</span>
      </a>
    </li>

    <li> 
      <a routerLink="/signin" 
         routerLinkActive="active" 
         [class.active]="activeItem === 'signin'" 
         (click)="setActive('signin')">
        <i class="fa-regular fa-user signin-icon"></i>
        <span>Sign In with Google</span>
      </a>
    </li>

    <li>
      <a routerLink="/profile" 
         routerLinkActive="active" 
         [class.active]="activeItem === 'profile'" 
         (click)="setActive('profile')">
        <img *ngIf="userProfilePic && !profileImgError" 
             [src]="userProfilePic" 
             alt="Profile" 
             class="avatar"
             (error)="profileImgError = true" />
        <div *ngIf="!userProfilePic || profileImgError" class="avatar-fallback">
          {{ userInitial }}
        </div>
        <span>Profile</span>
      </a>
    </li>
  </ul>
</nav>